body{
    background-image: url(georgia-history.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
p{
    color: white;
}
h1{
    color: rgb(255, 0, 0);
      font-family: "Press Start 2P", system-ui;
      font-weight: 400;
      font-style: normal;
}
button:hover{
    background-color: rgb(18, 227, 10);
}
button:active{
    background-color: white;
}
a:link{
    color: lawngreen;
}
a:visited{
    color: black;
}
a:active{
    color: blue;
}
a:hover{
    color: tomato;
}